/* c-card用のcomponent----------- */
/* スマホ ------------------------------------ */

.c-card {/* mixin */
  width: 100%;
}

.c-card--archive{/*一番外側の枠*/
  @include c-card;/*画像を上・文章を下*/
  margin: 0;
}

.c-photo-group{/*写真の外側の枠*/
  display: block;
  width: 100%;
}

.c-wrapper--card{
  width:100%;
}

.c-wrapper--card--archive{
  @include c-wrapper--card;
  margin-bottom: 20.9px;/*下の余白を調整*/
}
/*mixin*/
.c-caption-group--card{/*文章の一番外側の枠*/
  background-color: $color--char-BR;
  color:$color--char-WH;
  box-sizing: border-box;
}

.c-caption-group--card--archive{/*文章の一番外側の枠*/
  @include c-caption-group--card;
  max-width: 100%;
  padding-top: 30.5px;
  padding-bottom: 43.7px;
  font-size: 16px;
}

.c-photo{/* mixin */
  max-width:100%;
  height:100%;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat ;
  vertical-align:bottom;
}

.c-photo--archive{/*写真*/
  @include c-photo;
  height: 0;/*高さは設定しない*/
  padding-bottom:68.58%;/*アスペクト比を維持*/
  background-image:url(../img/item__archive.png);
  background-position: center;
  background-repeat:no-repeat ;
}

.c-btn--card{/*cardのbutton*/
  @include c-button;
  position: relative;
  min-width: 167px;
  height: 42.47px;
  padding: 10px;
  background-color:$color--item-WH-op-100;
  color:$color--char-GY !important;
  font-weight: 600;
  border-radius:30px;
}
/*mixin*/
.c-btn-wrapper--card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-btn-wrapper--card--archive{
  @include c-btn-wrapper--card;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* mixin */
.c-btn-label{/*buttonの文字*/
  display: inline-block;
  position: absolute;
  top: 50%;/*真ん中に配置*/
  left: 50%;
  transform: translate(-50%, -50%);/*真ん中に配置*/
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color:$color--char-GY;
  font-weight: bold;
}

.c-btn-label--card{/*buttonの文字*/
  @include c-btn-label;
  z-index: 140;
  font-size:16px !important;
  line-height: 1.06;
}

.c-category--card{/*大見出し*/
  display: inline-block;
  width: 89.9%;
  margin: 0 5.05% 24px 5.05% ;
  font-size:20px;
  font-weight: bold;
  font-family:$font-family--M-plus;
  line-height: 1.5;
}

.c-sub-heading--card{/* 中見出し */
  width: 89.9%;
  margin-left:5.05%;
  margin-right:5.05%;
  margin-bottom: 10px !important;
  font-weight: bold;
}
/*mixsin*/
.c-detail--card{/* 説明の詳細（長文の部分） */
  display: block;
  font-family:$font-family--M-plus;
  word-wrap:break-word;
  box-sizing: border-box;
}

.c-detail--card--archive{/* 説明の詳細（長文の部分）*/
  @include c-detail--card;
  width: 89.9%;
  padding-bottom: 10px;
  margin-right: 5.05%;
  margin-left: 5.05%;
  line-height: 1.43;
}

/* タブレット ------------------------------------ */
@media screen and (min-width: 600px){
.c-card--archive{/*一番外側の枠*/
  @include c-card;
  display: flex;
  flex-direction: row;/*画像を左・文章を右に*/
  min-width: 85.44% !important;
  min-height: 45.16%;
  height: auto;
}

.c-wrapper--card--archive{
  @include c-wrapper--card;
  margin-left: 0;
  margin-bottom: 20.5px;/*下の余白*/
}

.c-card--archive:last-child{/*一番下のcardのmarginの調整*/
  margin-bottom: 0 !important;
}

.c-caption-group--card--archive{/*文章の一番外側の枠*/
  @include c-caption-group--card;
  max-width: 50%;
  padding-top:29px;
  padding-bottom: 40px ;
  min-height: 100%;
}

.c-category--card{/*大見出し*/
  display: inline-block;
  width:81.84%;
  margin-bottom: 24px;
  margin-left: 9.08% !important;
  margin-right: 9.08% !important;
  font-size:2.39vw;
  font-weight: bold;
  font-family:$font-family--M-plus;
  line-height: 1.5;
}

.c-sub-heading--card{/* 中見出し */
  width:81.84%;
  margin-bottom: 10px;
  margin-left: 9.08% !important;
  margin-right: 9.08% !important;
  font-size: 1.91vw;
  font-weight: bold;
  font-family:$font-family--M-plus;
  line-height: 1.5;
}

.c-detail--card--archive{/* 説明の詳細（長文の部分） */
  width:81.84%;
  padding-bottom: 10px;
  margin-right: 9.08% !important;
  margin-left: 9.08% !important;
  font-size:1.91vw;
}

/*c-card 写真側*/
.c-photo-frame--card--archive{/*cardの写真の外枠*/
  width: 50%;
  height: auto;
}

.c-photo--archive{
  display: block !important;
  height:100%;
  background-image:url(../img/item__archive.png);
  background-position: left top;/*カンプに近い*/
  background-size: cover;
  background-repeat:no-repeat;
  vertical-align:bottom;
  box-sizing: border-box;
}

.c-btn--card{
  @include c-button;
  position: relative;
  min-width: 163.16px;
  height: 42.47px;
  padding: 10px;
  border-radius:38px;
}

.c-btn-label--card{
  @include c-btn-label;
  font-size:16px;
  line-height: 1.06;
}

.c-btn-wrapper--card--archive{/*card内のbuttonのwrapper*/
  @include c-btn-wrapper--card;
  margin-top: 45px;
}
}

/* PC ------------------------------------ */
@media screen and (min-width: 1250px){
.c-card--archive{/*一番外側の枠*/
  @include c-card;
  display: flex;
  flex-direction: row;/*画像を左側、文章を右側に*/
  min-width: 78.55% !important;
  height: auto;
}

.c-wrapper--card--archive {
  @include c-wrapper--card;
  margin-left: 0;
  margin-bottom: 30px;/*下の余白*/
}

.c-card:last-child{/*一番下のcardのmarginの調整*/
  margin-bottom: 0 !important;
}

.c-caption-group--card--archive{/*文章の一番外側の枠*/
  @include c-caption-group--card;
  max-width: 50%;
  padding: 0;
  padding-top:53px;
  padding-bottom: 60px;
  min-height: 100%;
}

.c-category--card{/*card内の大きい見出し*/
  display: inline-block;
  width: 81.38%;
  margin-left: 12.35%;
  margin-bottom: 47px;
  font-size:1.87vw;
  font-weight: bold;
  font-family:$font-family--M-plus;
  line-height: 1.5;
}

.c-sub-heading--card{/* 中見出し */
  width: 81.38%;
  margin-left: 12.35%;
  margin-bottom: 17px;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 1.5;
}

.c-detail--card--archive{/* 説明の詳細（長文の部分） */
  width: 81.38%;
  padding-bottom: 10px;
  margin-right: 9.31%;
  margin-left: 9.31%;
  font-size:0.83vw;
}

/*c-card 写真側*/
.c-photo-frame--card--archive{
  width: 50%;
    height: auto;
}

.c-photo--archive{/*写真*/
  display: block !important;
  background-position: left center;/*left centerがカンプに近い*/
}

.c-btn--card{
  @include c-button;
  position: relative;
  min-width: 292px;
  height: 76px;
  padding: 10px;
  border-radius:38px;
}

.c-btn-wrapper--card--archive{
  @include c-btn-wrapper--card;
  margin-top: 60px;
}

.c-btn-label--card{
  @include c-btn-label;
  font-size:16px;
  line-height: 2.06;
}
}
