/*スマホ----*/
/*ロゴ*/
/*-----------------------------------*/
.c-logo{/*mixin*/
  display: inline-block;
  height: auto;
  font-family:$font-family--Roboto;
  color:$color--char-GY;
  font-weight: bold;
}

/*Hamburgerのロゴ*/
.c-logo--title--hamburger{
  @include c-logo;
  max-width:54.13%;
  font-size: 10.66vw;
  line-height:1.32;
}

/*Hamburgerのロゴの位置調整*/
 .c-wrapper__logo{
  margin: 5px auto 38px auto;/*38px：c-logo--title--hamburgerと検索BOXまでの距離*/
}

/*ボタン*/
/*-----------------------------------*/
.c-btn{/*mixin*/
  display: block;
  position: absolute;
  height: auto;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform .3s, opacity .3s;
}
/*header側：MENUボタン*/
.c-btn--menu{
  @include c-button;
  width: 13.6%;
}

.c-btn--menu__wrapper{/*header側：MENUボタンの位置調整*/
  position:absolute;
  top:14px !important;
  right: 16px;/*headerの右上に配置*/
  z-index: 50;
}

.c-btn--menu__label{/*MENUボタンの字のスタイル*/
  @include c-logo;
  font-size: 5.33vw;
  line-height:1.3;
}

/*フィルター/
/*-----------------------------------*/
/*全体を暗くするフィルター*/
.c-overlay{/*mixin*/
  display: none;
  position:fixed;
  z-index: 150;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:$color--mask-op-100;
  transition: transform .100s,;
  opacity:0.5;
}

.c-overlay.is-show{/*jsのスタイル*/
  @include c-overlay
}

/*タブレット*/
@media screen and (min-width: 600px){
/*ロゴ/
/*-----------------------------------*/
/*Hamburgerのロゴ*/
  .c-logo--title--hamburger{
  @include c-logo;
  max-width: 24.34% !important;
  font-size: 4.79vw;
  }
/*ボタン/
/*-----------------------------------*/
/*headerのMENUボタン*/
  .c-btn--menu{
  display: block;
  max-width: 10%;

  &__label{/*headerのMENUボタンの字のスタイル*/
  font-size: 34px;
  line-height:1.32;
}

  &__wrapper{/*header側：MENUボタンの位置調整*/
  position: absolute;
  top:18px !important;
  right: 26px;/*headerの右上に配置*/
}
}
}
/* PC */
@media screen and (min-width: 1250px){
/*ロゴ*/
/*-----------------------------------*/
/*Hamburgerのロゴ*/
.c-logo--title--hamburger{
  @include c-logo;
  max-width: 10% !important;
  font-size: 4.12vw;
  line-height:1.31;
}

.c-wrapper__logo{/*Hamburgerのロゴの位置を調整*/
  margin-left: 4% !important;
}
/*ボタン/
/*-----------------------------------*/
/*headerのMENUボタン*/
  .c-btn--menu{
  display: none;/*PCではheaderにMENUボタンは表示しない*/
}
}
