/* pageでも流用*/
/* single c-card関連 component*/
/* スマホ */

/* wrapper --*/
/* pcのみ表示するcard*/
.c-wrapper--card--single--pc-only{
  display: none;/* 表示しない */
}

/* 1,2,3番目のcard------------------*/
.c-wrapper--card--single{
  max-width: 100%;/* 外枠 */
  margin-bottom: 30px/*cardの下の余白 */
}

/* 4番目card------------------------*/
.c-wrapper--card--single--type_frame{
  padding: 30px 34px;/*周りに余白あり*/
  box-sizing: border-box;
}

/* くり返し連続する部分のcard */
.c-wrapper--card--single--continuous{
  max-width: 100%;/* card外枠 */
  margin-bottom: 20px/* cardの下の余白 */
}

/* 連続するカードの全体の並べ方*/
.c-wrapper--card--single--continuous-area{
  display: flex;
  flex-direction: column;/*cardを縦並びにする*/
}

/*カードの最後は下の余白無し*/
.c-wrapper--card--single--continuous:last-child{
  margin-bottom: 0 !important;
}

/* 以下からwrapper以外---------- */
/* 1番目のcard-------------------------*/
/* c-card --*/
  .c-card--single{/* 外枠 */
    @include c-card;
}

/* c-photo-frame--*/
.c-photo-frame--card--single--no-padding{/* 写真の枠*/
  display: block;
  width: 100% !important;/* 横幅100%*/
  height: 0;/* 高さは指定しない */
  padding-bottom:37.01%;/*アスペクト比を維持*/
}

/* c-photo--*/
.c-photo--single{/* 画像 */
  @include c-photo;
  display: block;
  width: 100%;/* 横幅100%*/
  height: 0;/* 高さは指定しない */
  padding-bottom:37.01%;/*アスペクト比を維持*/
  background-image:url(../img/cheese-burger--per_37.png);
  background-position: center;
  background-repeat:no-repeat ;
}

/* ２つ目, 3つ目のcard-----------------*/
/* c-card--*/
.c-card--single--special{/* 外枠 */
  @include c-card;
  display: flex;
  flex-direction: row !important;/* 写真と文章を横に並べる*/
  max-width: 100%;
  height: 100%;
}

/* c-caption-group--*/
.c-caption-group--card--single{/*文章の外枠*/
  position: relative;
  width:57.28% !important;
  max-height: 176px;
  min-height: 88.43%;
  padding-right:5.18%;
  padding-left:5.18%;
  box-sizing: border-box;
}

/* c-detail--*/
.c-detail--card--single{/*文章の詳細部分*/
  position: relative;
  width:100% !important;
  height: 100%;
  font-size: 16px;
  line-height: 1.43;
  word-wrap:break-word;
  overflow-y: hidden;
}

/* c-photo-frame--*/
.c-photo-frame--card--single--various{/* 写真の外枠ーーー*/
  display: block !important;
  width:42.72%;
}

/* c-photo--*/
.c-photo--card--single--various{/*画像*/
  display: block !important;
  height: 0;/*高さは設定しない*/
  padding-bottom:61.8%;/*アスペクト比を維持*/
  background-image:url(../img/cheese-burger--per_62.png);
  background-position: left top;/*カンプに近い*/
  background-size: cover;
  background-repeat:no-repeat;
  vertical-align:bottom;
  box-sizing: border-box;
}
/* card 2,3番目ここまで--------------------*/

/* 4番目のcard----------------------------*/
/* c-photo-frame */
.c-photo-frame--card--single--type_frame{
  @include c-card;
  height: 0;/*高さは指定しない*/
  padding-bottom:62.17%;/*アスペクト比を保つ*/
}

/* c-photo */
.c-photo--card--single--type_frame{
  @include c-photo;
  height: 0;/*高さは指定しない*/
  padding-bottom:62.17%;/*アスペクト比を保つ*/
  background-image:url(../img/cheese-burger--per_62.png);
}
/* 4番目のカード　ここまで----------------*/

/* 連続するパターンのcard-----------------*/
/* c-photo-frame */
.c-photo-frame--card--single--type_continuous{/* 画像の枠 */
  width:100%;
  height: 0;/*高さは指定しない*/
  padding-bottom: 60.89%;/*アスペクト比を保つ*/
}

/* c-photo */
.c-photo--single--continuous{/* 画像 */
  @include c-photo;
  height: 0;/*高さは指定しない*/
  padding-bottom: 60.89%;/*アスペクト比を保つ*/
  background-image:url(../img/cheese-burger--per_62.png);
}


/* タブレット */
@media screen and (min-width: 600px){
/* wrapper */

/*pcのみで表示するcard*/
.c-wrapper--card--single--pc-only{
  display: none;/*隠す*/
}

/*1番目のcard--------------------------*/
.c-wrapper--card--single.hp_mb60{
  margin-bottom: 60px;
}

/*2番目のcard--------------------------*/
.c-wrapper--card--single.hp_mb117{
  margin-bottom: 117px;
}

/*3番目のcard---------------------------*/
.c-wrapper--card--single{
  max-width: 100%;
  margin-bottom: 0px
}

/*4番目のcard---------------------------*/
.c-wrapper--card--single--type_frame{
  margin-bottom: 180px;
  padding: 61px 67px;/* 余白の幅*/
  box-sizing: border-box;
}

/*連続するcardの埋め込み先*/
.c-wrapper--card--single--continuous-area{
  display: block !important;
  max-width: 100%;
  height: 100%;
  padding: 0;
}

/*連続するcard---------------------------*/
.c-wrapper--card--single--continuous{
  float:left;
  max-width: 100%;
  width:48.87%;
  margin-bottom: 20px
}

/*連続するcardの最後*/
.c-wrapper--card--single--continuous:last-child{
  margin-bottom: 0 !important;/*下の余白は無し*/
}

/*連続するcard 右側の余白*/
.c-wrapper--card--single--continuous.no_one,
.c-wrapper--card--single--continuous.no_three,
.c-wrapper--card--single--continuous.no_five,
.c-wrapper--card--single--continuous.no_seven,
.c-wrapper--card--single--continuous.no_nine{
  margin-right:2.24% !important;
}

/*連続するcardは最後を疑似要素でfloatを解除*/
.c-wrapper--card--single--continuous-area::after{
  content: "";
  display: block;
  clear: both !important;
}

/* 以下からwrapper以外----------------------*/
/* ２番目,3番目のカード----------------------*/
/* c-card */
.c-card--single--special{/* 外枠 */
  @include c-card;
  display: flex;/* 写真と文章を横並びに */
  flex-direction: row !important;
  max-width: 100%;
  height: auto;
  overflow-y: hidden;
}

/* c-caption-group */
.c-caption-group--card--single{/*文章の外枠*/
  position: relative;
  width:57.28% !important;
  min-height: 88.43%;
  padding-right:5.18%;
  padding-left:5.18%;
  padding-bottom: 6%;
  box-sizing: border-box;
}

/* c-detail */
.c-detail--card--single{/*文章の詳細*/
  position: relative;
  top:0;
  left: 0;
  width:100% !important;
  height: auto;
  font-size: 1.91vw;
  line-height: 1.43;
  word-wrap:break-word;
}

/* c-photo-frame */
.c-photo-frame--card--single--various{/*写真の外枠*/
  display: block !important;
  max-width:42.85%;
  height: 0;
  padding-bottom:61.8%;/*アスペクト比を維持*/
}

/* c-photo */
.c-photo--card--single--various{/*画像*/
  display: block !important;
  height: 0;/*高さは設定しない*/
  padding-bottom:61.8%;/*アスペクト比を維持*/
}
/* ２番目,3番目のカードここまで--------*/
}

/* PC */
@media screen and (min-width: 1250px){
/* wrapper*/
/* 1番目、2番目、3番目のcard----------------------------*/
.c-wrapper--card--single{
  margin-bottom: 60px !important;
}

/* 4番目のcard------------------------*/
/* PCで表示する */
.c-wrapper--card--single--pc-only{
  display: block!important;
  margin-bottom: 60px;
  position: relative;
}

/* 4番目のcard-------------------------*/
/*PCでは表示しない*/
.c-wrapper--card--single--type_frame{
  display: none;
}

/* 連続したパターンのcard---------------*/
.c-wrapper--card--single--continuous-area{
  display: block;
}

.c-wrapper--card--single--continuous{
  max-width:32.3% ;
  float:left;
  margin-bottom:1.47%
}

/* 以下からwrapper以外------------------*/
/*1番目のcard----------*/
/*photo-frame*/
.c-photo-frame--card--single--no-padding{
  width: 100% !important;/* 横幅100%*/
  height: 0;
  padding-bottom:37.39%;/*アスペクト比を維持*/
}

/*c-photo*/
.c-photo--single{/* 画像 */
  width: 100%;/* 横幅100%*/
  padding-bottom:37.39%;/*アスペクト比を維持*/
}

/*2番目のcard-------------------------*/
/*caption-group*/
.c-caption-group--card--single{/*文章の外枠*/
  position: relative;
  max-width:57.13% !important;
  min-height: 53.35%;
  padding-right:0;
  padding-left:5.18%;/* pcの場合テキストの左側に余白がつく*/
  padding-bottom: 6%;
  box-sizing: border-box;
}

/*3番目のcard-------------------------*/
/*c-caption-group*/
.c-caption-group--card--single.pc-only{/* 文章の外枠ーーー*/
  padding-right:5.18%;/* paの場合テキストの右側にpaddingがつく*/
  padding-left:0;
}

/* 2番目・3番目のcard共通---------------*/
/*c-card*/
.c-card--single--special{/* 外枠 */
  @include c-card;
  display: flex;
  flex-direction: row !important;
  max-width: 100%;
  height: auto;
  overflow-y:visible;
}

/*c-detail*/
.c-detail--card--single{/*文章詳細*/
  position: relative;
  top:0;
  left: 0;
  width:100% !important;
  height: auto;
  font-size: 0.83vw;
  line-height: 1.43;
  word-wrap:break-word;
}

/*c-photo-frame*/
.c-photo-frame--card--single--various{/*写真の外枠*/
  display: block !important;
  max-width:42.85%;
  height: auto;
  padding-bottom: 0;
}

/*c-photo*/
.c-photo--card--single--various{/*画像*/
  display: block !important;
  height: 0;/*高さは設定しない*/
  padding-bottom:61.8%;/*アスペクト比を維持*/
}
/* 2番目・3番目のcard共通ここまで----------------*/

/* 4番目のcard---------------------------------*/
/*c-card*/
.c-card--single--special.pc-only{
  display: flex;/* 真ん中に配置 */
  justify-content: center;
}
/*4番目のcardここまで---------------------------*/

/* 連続したパターンのカード----------------------*/
/* c-photo-frame */
.c-photo-frame--card--single--type_continuous{
  max-width:100%;
  height: 0;
  padding-bottom: 58.67%;
}

/* c-photo */
.c-photo--single--continuous{
  @include c-photo;
  height: 0;
  padding-bottom: 58.67%;
  background-image:url(../img/cheese-burger--per_62.png);
}

/* 右余白調整（1.47%に） */
.c-wrapper--card--single--continuous.no_one,
.c-wrapper--card--single--continuous.no_two,
.c-wrapper--card--single--continuous.no_four,
.c-wrapper--card--single--continuous.no_five,
.c-wrapper--card--single--continuous.no_seven,
.c-wrapper--card--single--continuous.no_eight{
  margin-right:1.47% !important;
}

/* 右余白調整（0にする） */
.c-wrapper--card--single--continuous.no_three,
.c-wrapper--card--single--continuous.no_nine,
.c-wrapper--card--single--continuous.no_six{
  margin-right: 0 !important;
}

/* 下余白調整（0にする） */
.c-wrapper--card--single--continuous.no_seven,
.c-wrapper--card--single--continuous.no_eight,
.c-wrapper--card--single--continuous.no_nine{
  margin-bottom: 0 !important;/*7/8/9番目のcardは下の余白無し*/
}
/* 連続したパターンのカードの部分ここまで --*/
}
