  /* スマホ */
  .p-contents{/*外枠*/
    width:100% ;
    height: auto ;
    display: flex !important;
    justify-content: center !important;
    margin: 0;
    padding: 0;
    background-color:$color--base-WH;

  &__inner{ /*contentsの内側*/
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    width: 89.6% ;
    height: auto;
    margin-top:20px; /*pxでないとズレる*/
    margin-bottom: 49px !important;/*pxでないとズレる*/
    box-sizing: border-box;
    /*overflow: hiddenをつけると2カラムの比率崩れる*/
}
}

  .p-contents__branch-menu{/*2メニュー共通 */
    position: relative;
    min-width:80%;/*字が飛び出ないように*/
    height: auto;
    padding:89% 3% 20% 3%;
    overflow: hidden;

  &__inner{/*白い2つのBOXを囲う*/
    display: flex;
    flex-direction: column;/*2つのBOXを縦に並べる*/
  }

  &__label{/*Take-out･Eat-in共通大ラベル */
    position: absolute;
    top:3%;
    left:3%;
    display: inline-block;
    margin-bottom: 4%;
    font-family:$font-family--Roboto;
    font-size: 11vw;
    font-weight: bold;
    line-height: 1.31;
    color:$color--char-li-GY;
    vertical-align: top;
}
  &__label::after { /*共通下線 */
    content: "";
    position: absolute;
    top:181%;
    left:0px;
    width: 33.89px;
    height: 4px;
    display: inline-block;
    color:$color--char-li-GY;
    background-color: $color--char-li-GY;
}
}
  .take-out{/*マルチクラス */
    margin-right: 0;
    background-image: url(../img/p-contents__branch-menu__take-out.png);
    background-size: cover;
    background-position: top right;/*centerよりカンプに近い*/
    background-repeat:no-repeat;
}
  .eat-in{/*マルチクラス */
    margin-top: 20px;
    background-image: url(../img/p-contents__branch-menu__eat-in.png);
    background-size: cover;
    background-position: top right;/*centerよりカンプに近い */
    background-repeat:no-repeat;
  }

  .p-contents__branch-menu{
  &__box--top {/*白いBOX:上*/
    display: inline-block;
    width:100%;
    min-width:89.8%;
    min-height:44%;/*字が飛び出ないように*/
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 9px;
    background-color   : $color--item-WH-op-083;
    color:$color--char-BR;
    object-fit: contain !important;/*ないと縦横比崩れが起きる*/
}

  &__box--bottom {/*白いBOX:下*/
    display: inline-block;
    width: 100%;
    min-width:89.8%;
    min-height:44%;/*字が飛び出ないように*/
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 0 !important;
    background-color   : $color--item-WH-op-083;
    color:$color--char-BR;
    object-fit: contain !important;/*ないと縦横比崩れが起きる*/
}

  &__box__title {/*白いBOX内:タイトル(共通)*/
    display: inline-block;
    margin-left: 3%;
    margin-bottom:15px;
    font-size: 6vw;
    font-weight: bold;
    line-height: 1.45;
    overflow-wrap: break-word;
}
}

  .p-contents__branch-menu{
  &__box__text{/*白いBOX内:テキスト(共通)*/
  display: block;
  position: relative;
  max-width: 92.47%;
  height:100% !important;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 5%;
  font-size: 4vw;
  line-height: 1.43;
  overflow-wrap: break-word;
}

 &__box__text::before{/*BOX内：字が入ると高さが出るように*/
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 0;
  content: "";
  padding-bottom: 23.36%;
  object-fit: contain;
}
}
/* タブレット */
@media screen and (min-width: 600px){
.p-contents{  /*contentsの外枠*/
  display: flex;
  justify-content: center;
  width:100% !important;
  height: auto  !important;
  margin: 0;
  padding: 0;

&__inner{ /*contentsの内側*/
  display:flex !important;
  flex-direction:unset;
  justify-content: center;
  width:100%;
  height:auto !important;
  margin: 40px 4.79% 40px 4.79%;
  /*overflow: hiddenをつけると2カラムの比率崩れるのでつけない*/
}
}

.p-contents__branch-menu{/*take-out・eat-in共通 */
  max-width:100%;
  min-width: 47.28% !important;
  height: auto;
  padding: 46.4% 2% 1.61% 2% !important;
}

  /*take-out*/
.take-out{/*マルチクラス */
  margin-right: 5.43%;
}

  /*eat-in*/
.eat-in{/*マルチクラス */
  margin-top: 0;
}

.p-contents__branch-menu{
  &__label{/*take-out・eat-in共通大ラベル */
  position: absolute;
  display: inline-block;
  top:4%;
  left:3%;
  margin-bottom: 30px;
  font-size: 5.3vw;
  font-weight: bold;
  line-height: 1.31;
  color:$color--char-li-GY;
  object-fit: contain;
  vertical-align: top;
}

  &__label::after { /*大ラベル共通の下線 */
  content: "";
  position: absolute;
  top:63px;
  left:0px;
  width: 35.91px;
  height: 4px;
  display: inline-block;
  background-color:$color--char-li-GY;
  vertical-align: top;
}
}

.p-contents__branch-menu{
  &__box--top {/*白いBOX:上*/
  min-width:92.21%;
  min-height: 15%;/*字が飛び出ないように*/
  padding-top: 14.5%;
  padding-bottom: 4.1%;
  margin-bottom: 10px;
  font-size: 2.87vw;
  object-fit: contain !important;/*ないと縦横比崩れが起きる*/
}

  &__box--bottom {/*白いBOX:下*/
  max-width:100%;
  min-width:92.21%;
  min-height: 15%;
  padding-top: 14.5%;
  padding-bottom: 4.1%;
  margin-bottom: 0 !important;
  object-fit: contain !important;/*ないと縦横比崩れが起きる*/
}
}
.p-contents__branch-menu{
  &__box__title{/*白いBOX内：共通タイトル*/
  display: inline-block;
  margin-left: 3.2%;
  margin-bottom: 19px;
  font-size: 24px;/*2.87vw*/
  font-weight: bold;
  line-height: 1.5;
  overflow-wrap: break-word;
}

  &__box__text{/*白いBOX内：共通テキスト*/
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 16px;/*1.91vw*/
  line-height: 1.43;
  overflow-wrap: break-word;
  object-fit: contain;
}

  &__box__text::before{/*字が増えても崩れないように*/
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 0;
  content: "";
  padding-bottom: 15.68%;
  object-fit: contain;
}
}
}
/* PC */
@media screen and (min-width: 1250px){
.p-contents{  /*contentsの外枠*/
  display: flex;
  justify-content: center;
  width:100% !important;
  height: auto  !important;
  margin: 0;
  padding: 0;

&__inner{  /*contentsの内側*/
  display: flex !important;
  flex-direction: unset;
  width: 100%;
  padding: 0;
  margin:7.72% 7.14% 8.43% 7.14% !important;
  box-sizing: border-box;
  object-fit: contain;
  /*overflow: hiddenをつけると2カラムの比率崩れるのでつけない*/
}
}

/*branch-menu ------------ */
.p-contents__branch-menu{/*2メニュー共通 */
  position: relative !important;
  top:0;
  left: 0;
  min-width: 46.99% !important;
  height: auto !important;
  min-height: 30.84%;/*字が飛び出ないように*/
  padding: 67.14% 3.2% 1.67% 3.2%;
  object-fit: contain;

}

/*take-out*/
.take-out{/*マルチクラス */
  margin-right: 4.89% !important;
}

.p-contents__branch-menu{
&__label{ /*大きな共通ラベル */
  position: absolute;
  top:3%;
  left:3%;
  display: inline-block;
  font-size: 4.16vw;
  line-height: 1.32;
  vertical-align: top;
}

&__label::after { /*大きな共通ラベルの下線 */
  content: "";
  position: absolute;
  top:156%;
  left:0px;
  width: 63px;
  height: 4px;
}
}

.p-contents__branch-menu{
  &__box--top {/*白いBOX:上 */
  max-width:100% !important;
  min-width:92.47%;
  min-height:14.54%;/*字が飛び出ないように*/
  padding-top:2.90%;
  padding-bottom:4.1%;
  margin-bottom: 2%;
  object-fit: contain !important;/*ないと縦横比崩れが起きる*/
}

  &__box--bottom {/*白いBOX:下 */
  max-width:100% !important;
  min-width:92.47%;
  min-height: 14.54%;/*字が飛び出ないように*/
  padding-top: 2.90%;
  padding-bottom: 4.1%;
  margin-bottom: 0 !important;
  object-fit: contain !important;/*ないと縦横比崩れが起きる*/
}
}
.p-contents__branch-menu{
  &__box__title{/*box内の共通タイトル*/
  display: inline-block;
  margin-left: 3.24%;
  margin-bottom: 2.17%;
  font-size: 1.92vw;
  font-weight: bold;
  line-height: 36/24;
  overflow-wrap: break-word;
}

  &__box__text{/*box内の共通テキスト*/
  display: block;
  position: relative;
  width: 100%　!important;
  height: 0;
  margin-left: 3.24% !important;
  margin-left: 3.24% !important;
  padding-bottom: 9%;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height:1.43;
}

  &__box__text::before{/*字が増えても崩れないように*/
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 0;
  content: "";
  padding-bottom: 16.11%;
  object-fit: contain;
}
}
}
