/* スマホ */
.p-footer{
  position: relative;
  z-index: 140;/*上の地図のテキストと同じ高さ*/
  bottom: 0;
  left: 0;
  max-width: 100%;
  min-width:67%;
  height: auto;
  background-image: url(../img/c-footer.png);
  object-fit: cover;/*要素全体を画像で覆う*/
  overflow-y: hidden;

  &__wrapper{/*縦に潰れないように*/
    padding-top: 39px;/*px以外長さが合わない*/
    padding-bottom: 31px;/*px以外長さが合わない*/
}
}

.p-footer__menu{
  display: flex;
  flex-direction: column;/*aboutとcopyrightを縦に並べる*/
  justify-items: center;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  color:$color--char-WH;

  &__info{
  display:inline-block;
  margin-bottom: 34px;/*px以外長さがおかしい為px*/
  font-size: 5.33vw;/*テキストが可変し過ぎない様vw*/
  font-weight: normal;
  line-height: 1.5;
}

  &___copy{
  display:inline-block;
  line-height: 1.42;
  font-size: 3.73vw;/*テキストが可変し過ぎない様vw*/
  font-weight: normal;
}
}
/* タブレット */
@media screen and (min-width: 600px){
.p-footer{
  height: 150px;
  overflow-y: hidden !important;

&__wrapper{/*縦に潰れないように*/
  padding-top: 39px;/*px以外長さがおかしい為px*/
  padding-bottom: 29px;/*px以外長さがおかしい為px*/
}
}
.p-footer__menu{
  &__info{
  display:inline-block;
  margin-bottom:34px;/*px以外長さがおかしい為px*/
  font-size: 2.39vw !important;/*テキストが可変し過ぎない様vw*/
  font-weight: normal;
  line-height: 1.5;
}
  &__copy{
  display:inline-block;
  font-size: 1.67vw;/*テキストが可変し過ぎない様vw*/
  font-weight: normal;
  line-height: 1.42;
}
}
}
/* PC */
@media screen and (min-width: 1250px){
  .p-footer{
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 140;
    height: 150px;
    overflow-y: hidden;

  &__wrapper{/*可変で縦が潰れないように設定*/
    padding-top: 39px;/*px以外長さが合わない*/
    padding-bottom: 30px;/*px以外長さが合わない*/
}
}
  .p-footer__menu{
  &__info{
    display:inline-block;
    margin-bottom:34px;/*px以外長さが合わない*/
    font-size: 1.04vw !important;/*vw：テキストの可変超過を防ぐ*/
    font-weight: normal;
    line-height: 1.5;
}
  &__copy{
    display:inline-block;
    font-size: 0.72vw;/*テキストが可変し過ぎない様vw*/
    font-weight: normal;
    line-height: 1.42;
}
}
}
