/*スマホ--タブレット--パソコン画面1249pxまで--*/
.l-body{
display:grid;
grid-template-columns: 1fr;/*１カラムのレイアウト*/
grid-template-rows: auto 1fr 150px;
position: relative;
max-width: 100%;
min-height: 100vh;
}
.l-body.is-show{/*サイドバーが開いたらbodyは固定する*/
  position: fixed !important;
}
/*パソコン画面1250px以上--*/
@media screen and (min-width: 1250px){
.l-body{
display:grid;
grid-template-columns:auto 19.11% !important;/*２カラムのレイアウト*/
grid-template-rows:auto 1fr 150px !important;
max-width: 100%;

}
}
